.footer{
	font-size: 0.8rem;
	text-align: center;
	background-color: $textColor;
	color: white;
	.github-icon{
		width: 25px;
		margin-right: 5px;
		margin-bottom: -7px;
	}
	.footer--separator{
		color: gray;
	}
}
