%icon{
	background-repeat: no-repeat;
	background-size: 35% 35%;
	background-position: center center;
}

.icon-copy{
	@extend %icon;
	background-image: url('../img/copy-icon.svg');
}

.icon-download{
	@extend %icon;
	background-image: url('../img/download-icon.svg');
}

.icon-eye{
	@extend %icon;
	background-image: url('../img/eye-icon.svg');
	background-size: 60% 60%; /* Icon is a little smaller */
}
