.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

%container{
	padding: $space;
	display: block;
	margin: 0px auto;
	box-sizing: border-box;
}

.container{
	@extend %container;
	max-width: 1000px; 
}

.container-fluid{
	@extend %container;
}

.clearfix{
	@include clearfix();	
}


$col: 323px;
$screen: 1050px;
$tablet: 450px;

/* WIDTHS */

/* COLUMNS 
 * note: max-width is added because of initial mistake in design. 
 */

@mixin w-25(){
	max-width: $col;
	width: 25%;
}

@mixin w-33(){
	max-width: $col;
	width: 33.33%;
}

@mixin w-50(){
	max-width: 359px;
	width: 50%;
}

@mixin w-66(){
	max-width: $col * 2 + $space;
	width: 66.66%;
}

@mixin w-100(){
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
	width: 100%;
}

.w-25-lg{
	@include w-25();
}
.w-33-lg{
	@include w-33();
}
.w-50-lg{
	@include w-50();
}
.w-66-lg{
	@include w-66();
}
.w-100-lg{
	@include w-100();
}

@media(max-width: $screen){
	.w-25-md{
		@include w-25();
	}
	.w-33-md{
		@include w-33();
	}
	.w-50-md{
		@include w-50();
	}
	.w-66-md{
		@include w-66();
	}
	.w-100-md{
		@include w-100();
	}
}

@media(max-width: $tablet){
	.w-25-sm{
		@include w-33();
	}
	.w-33-sm{
		@include w-33();
	}
	.w-50-sm{
		@include w-50();
	}
	.w-66-sm{
		@include w-66();
	}
	.w-100-sm{
		@include w-100();
	}
}
